In [6]:
import gc
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

import keras
from keras.models import Sequential
from keras.layers import Activation, Dense
from keras.layers import LSTM
from keras.layers import Dropout

from sklearn.model_selection import train_test_split

In [7]:
data =pd.read_csv('btcprice.csv')
data.head(10)

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,14-06-18,"6,342.75","6,707.14","6,334.46","6,675.35",5.138710e+09,1.084080e+11
1,13-06-18,"6,596.88","6,631.66","6,285.63","6,349.90",5.052350e+09,1.127400e+11
2,12-06-18,"6,905.82","6,907.96","6,542.08","6,582.36",4.654380e+09,1.180070e+11
3,11-06-18,"6,799.29","6,910.18","6,706.63","6,906.92",4.745270e+09,1.161750e+11
4,10-06-18,"7,499.55","7,499.55","6,709.07","6,786.02",5.804840e+09,1.281280e+11
5,09-06-18,"7,632.52","7,683.58","7,531.98","7,531.98",3.845220e+09,1.303860e+11
6,08-06-18,"7,685.14","7,698.19","7,558.40","7,624.92",4.227580e+09,1.312710e+11
7,07-06-18,"7,650.82","7,741.27","7,650.82","7,678.24",4.485800e+09,1.306710e+11
8,06-06-18,"7,625.97","7,680.43","7,502.01","7,653.98",4.692260e+09,1.302330e+11
9,05-06-18,"7,500.90","7,643.23","7,397.00","7,633.76",4.961740e+09,1.280810e+11